@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* background-color: #F9FAFB; */
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

li {
  list-style: none;
}

input {
  display: block;
  font: inherit;
}

.cart-modal,
.card-modal-content {
  right: -200%;
  transition: all 0.4s ease-in-out;
}


.card-modal-content.active,.cart-modal.active {
  right: 0%;
}

:disabled{
  background-color:rgb(68, 68, 68);
}